[submodule "kicad-symbols"]
	path = kicad-symbols
	url = git@gitlab.com:navan93/kicad-symbols.git
[submodule "kicad-footprints"]
	path = kicad-footprints
	url = git@gitlab.com:navan93/kicad-footprints.git
[submodule "kicad-packages3D-generator"]
	path = kicad-packages3D-generator
	url = git@gitlab.com:kicad/libraries/kicad-packages3D-generator.git
[submodule "kicad-footprint-generator"]
	path = kicad-footprint-generator
	url = git@gitlab.com:navan93/kicad-footprint-generator.git
[submodule "kicad-packages3D"]
	path = kicad-packages3D
	url = git@gitlab.com:navan93/kicad-packages3D.git
